@import model.Post
@(listPost: List[Post])
@main("List Post") {
    <h1>List post</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        @for(post <- listPost) {
            <tr>
                <td><a href="post/view/@post.id">@post.id</a></td>
                <td>@post.title</td>
                <td>@post.content</td>
                <td>
                @if(post.status) {
                    <span class="badge badge-pill badge-success">Active</span>
                } else {
                    <span class="badge badge-pill badge-danger">Deactive</span>
                }
                </td>
                <td>
                    <form action="post/delete/@post.id" method="post">
                        <input class=" btn btn-dark" type="submit" value="Delete">
                    </form>
                 </td>
            </tr>
        }
        </tbody>
    </table>
    <a href="post/create" class="badge badge-primary">Add Post</a>
}